html {
	font-size: 16px;
}
body {
	background-color: #cdb79e;
	font-family: Georgia;
	font-size: 100%
}

.card {
	width: 300px;
	padding-left: 15px;
	padding-right: 15px;
}

.card.left {
	text-align: left;
	line-height: 80%;
}

.card.right {
	text-align: right;
	padding-bottom: -6px;
}

#card-title {
	font-variant: small-caps;
	text-align: center;
	padding-top: 5px;
}

.res-title {
	font-variant: small-caps;
	font-size: 1.2em;
}

.button-container {
		width: 300px;
		text-align: center;
}