html {
	
	background-color: lightgray;
	font-family: sans-serif;


/* https://css-tricks.com/perfect-full-page-background-image/ */

/* 
*	background: url(whipstitch.jpg) no-repeat center center fixed; 
*  -webkit-background-size: cover;
*  -moz-background-size: cover;
*  -o-background-size: cover;
*  background-size: cover;
*/
}

div {
	width: 50%;
	margin: auto;
}

blockquote {
	border: 1px solid white;
	text-align: center;
	background-color: white;
}
/* .quotebox {
	display: block;
	width: 100%;
	margin: 3px 0 15px 0;
	border: 1px solid white;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
}
*/
